.item {
  &.item-completed {
    background-color: $stable;

    i,
    span {
      opacity: 0.5;
    }

    span {
      text-decoration: line-through;
    }
  }

  .item-note-large {
    @extend .item-note;
    color: $base-color;
    font-size: $item-font-size;
  }
}
