<ion-view view-title="Expenses">
  <!-- expense types -->
  <div class="tabs-striped tabs-top tabs-background-light tabs-color-positive">
    <div class="tabs">
      <a class="tab-item" ng-class="{ active: scope == ExpenseScope.personal }"
        on-tap="filterExpenses(ExpenseScope.personal)">Personal</a>
      <a class="tab-item" ng-class="{ active: scope == ExpenseScope.collective }"
        on-tap="filterExpenses(ExpenseScope.collective)">Collective</a>
      <a class="tab-item" ng-class="{ active: scope == ExpenseScope.all }"
        on-tap="filterExpenses(ExpenseScope.all)">All</a>
    </div>
  </div>
  <ion-content class="has-tabs-top" on-swipe-right="swipeRight()" on-swipe-left="swipeLeft()">

    <ion-list>
      <ion-item collection-repeat="e in filteredExpenses" collection-item-height="getItemHeight(e)"
        on-hold="displayOptions(e)" href="">
        {{ e.category }}
        <span class="item-note">
          {{ e.amount | currency }}
        </span>
        <p>{{ e.description }}</p>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
