<ion-view view-title="Account">
  <ion-content>

    <ion-list>
      <ion-item class="item-divider">
        Your Monthly Goals
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-coffee"></i>
        Food
        <span class="item-note">
          $300.00
        </span>
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-flash"></i>
        Hydro
        <span class="item-note">
          $40.00
        </span>
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-wifi"></i>
        Internet
        <span class="item-note">
          $10.00
        </span>
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-bag"></i>
        Other
        <span class="item-note">
          $300.00
        </span>
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-home"></i>
        Rent
        <span class="item-note">
          $650.00
        </span>
      </ion-item>
      <button class="button button-full button-positive button-no-margin icon-right ion-ios-arrow-right">
        Update goals
      </button>
    </ion-list>

  </ion-content>
</ion-view>
