<ion-view view-title="Account">
  <ion-nav-buttons side="secondary">
    <button class="button button-clear button-assertive">
      Log Out
    </button>
  </ion-nav-buttons>
  <ion-content>

    <ion-item class="item-avatar item-icon-right" href="">
      <img class="rounded-image" src="img/anton.jpg">
      <h2>Anton Shevchenko</h2>
      <p>I'm FASED!</p>
      <i class="icon ion-ios-arrow-right"></i>
    </ion-item>

    <ion-list>
      <ion-item class="item-divider">
        Your Monthly Goals
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-android-cart"></i>
        Groceries
        <span class="item-note-large">
          $300.00
        </span>
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-flash"></i>
        Hydro
        <span class="item-note-large">
          $25.00
        </span>
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-wifi"></i>
        Internet
        <span class="item-note-large">
          $10.00
        </span>
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-bag"></i>
        Other
        <span class="item-note-large">
          $300.00
        </span>
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-home"></i>
        Rent
        <span class="item-note-large">
          $650.00
        </span>
      </ion-item>
      <button class="button button-full button-outline button-no-margin icon-right ion-ios-arrow-right">
        Update goals
      </button>
    </ion-list>

  </ion-content>
</ion-view>
