<ion-view view-title="Dashboard">
  <ion-content>
    <ion-refresher on-refresh="getData()"></ion-refresher>

    <!-- collective stats -->
    <ion-slide-box does-continue="false">
      <ion-slide>
        <!-- overall -->
        <div class="padding">
          <h3 class="text-featurette text-center">Performance</h3>
          <div class="padding-bottom">
            <progress-bar img="img/evan.jpg" value="100" max="100"></progress-bar>
          </div>
          <div class="padding-bottom">
            <progress-bar img="img/fahim.jpg" value="33" max="100"></progress-bar>
          </div>
          <div class="padding-bottom">
            <progress-bar img="img/sakib.jpg" value="75" max="100"></progress-bar>
          </div>
          <div class="">
            <progress-bar img="img/anton.jpg" value="0" max="100"></progress-bar>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <!-- groceries -->
        <div class="padding">
          <h3 class="text-featurette text-center">Groceries</h3>
          <div class="padding-bottom">
            <progress-bar img="img/evan.jpg" value="40" max="100"></progress-bar>
          </div>
          <div class="padding-bottom">
            <progress-bar img="img/fahim.jpg" value="67" max="100"></progress-bar>
          </div>
          <div class="padding-bottom">
            <progress-bar img="img/sakib.jpg" value="55" max="100"></progress-bar>
          </div>
          <div class="">
            <progress-bar img="img/anton.jpg" value="95" max="100"></progress-bar>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <!-- electricity -->
        <div class="padding">
          <h3 class="text-featurette text-center">Electricity</h3>
          <div class="padding-bottom">
            <progress-bar img="img/evan.jpg" value="100" max="100"></progress-bar>
          </div>
          <div class="padding-bottom">
            <progress-bar img="img/fahim.jpg" value="100" max="100"></progress-bar>
          </div>
          <div class="padding-bottom">
            <progress-bar img="img/sakib.jpg" value="100" max="100"></progress-bar>
          </div>
          <div class="">
            <progress-bar img="img/anton.jpg" value="100" max="100"></progress-bar>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <!-- internet -->
        <div class="padding">
          <h3 class="text-featurette text-center">Internet</h3>
          <div class="padding-bottom">
            <progress-bar img="img/evan.jpg" value="100" max="100"></progress-bar>
          </div>
          <div class="padding-bottom">
            <progress-bar img="img/fahim.jpg" value="0" max="100"></progress-bar>
          </div>
          <div class="padding-bottom">
            <progress-bar img="img/sakib.jpg" value="100" max="100"></progress-bar>
          </div>
          <div class="">
            <progress-bar img="img/anton.jpg" value="0" max="100"></progress-bar>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <!-- other -->
        <div class="padding">
          <h3 class="text-featurette text-center">Other</h3>
          <div class="padding-bottom">
            <progress-bar img="img/evan.jpg" value="67" max="100"></progress-bar>
          </div>
          <div class="padding-bottom">
            <progress-bar img="img/fahim.jpg" value="57" max="100"></progress-bar>
          </div>
          <div class="padding-bottom">
            <progress-bar img="img/sakib.jpg" value="81" max="100"></progress-bar>
          </div>
          <div class="">
            <progress-bar img="img/anton.jpg" value="89" max="100"></progress-bar>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <!-- rent -->
        <div class="padding">
          <h3 class="text-featurette text-center">Rent</h3>
          <div class="padding-bottom">
            <progress-bar img="img/evan.jpg" value="0" max="100"></progress-bar>
          </div>
          <div class="padding-bottom">
            <progress-bar img="img/fahim.jpg" value="0" max="100"></progress-bar>
          </div>
          <div class="padding-bottom">
            <progress-bar img="img/sakib.jpg" value="100" max="100"></progress-bar>
          </div>
          <div class="">
            <progress-bar img="img/anton.jpg" value="0" max="100"></progress-bar>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>

    <!-- personal stats -->
    <ion-list>
      <ion-item class="item-divider">Your Expenses (Current Month)</ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-android-cart"></i>
        <span><b>$250.00</b> / $300.00</span>
        <span class="item-note">
          <span class="balanced">+$50.00</span>
        </span>
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-flash"></i>
        <span><b>$30.00</b> / $25.00</span>
        <span class="item-note">
          <span class="assertive">-$5.00</span>
        </span>
      </ion-item>
      <ion-item class="item-icon-left item-completed">
        <i class="icon ion-wifi"></i>
        <span><b>$10.00</b> / $10.00</span>
        <span class="item-note">
          <span>$0.00</span>
        </span>
      </ion-item>
      <ion-item class="item-icon-left">
        <i class="icon ion-bag"></i>
        <span><b>$250.00</b> / $300.00</span>
        <span class="item-note">
          <span class="balanced">+$50.00</span>
        </span>
      </ion-item>
      <ion-item class="item-icon-left item-completed">
        <i class="icon ion-home"></i>
        <span><b>$650.00</b> / $650.00</span>
        <span class="item-note">
          <span>$0.00</span>
        </span>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
